:root {
  --grey: rgb(94, 95, 95);
  --blue: dodgerblue;
}
body {
  margin: 10px;
  color: black;
  font-family: "Roboto", sans-serif;
}
.App {
  margin: 0 auto;
  max-width: 600px;
  border: 1px;
  border-color: black;
  padding: 20px;
}
