.App {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  background-image: url(./images/nightCloud.jpeg);
  background-size: cover;
  border-radius: 5px;
  border-radius: 5px;
  color: white;
  font-family: "Roboto", sans-serif;
}
.App footer {
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  color: white;
}
.App a {
  color: white;
}
