.search-form {
  padding: 7px;
  margin: 0 5px 0 0;
  border-radius: 5px;
  color: var(--grey);
  font-size: 17px;
}
.current {
  text-align: center;
}
.location {
  padding-top: 10px;
  font-size: 30px;
  font-weight: 500;
  text-transform: capitalize;
}
.current-celsius {
  font-size: 70px;
  line-height: 60px;
  font-weight: 300;
}
.description {
  font-size: 20px;
  line-height: 50px;
  font-weight: 500;
}
.min-max {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}
.col-box-large {
  background: rgba(0, 139, 255, 0.2);
  border-radius: 5px;
}
.col-box-small {
  background: rgba(0, 139, 255, 0.2);
  border-radius: 5px;
  padding: 0;
}
.row-flex {
  justify-content: center;
  gap: 5px;
  padding: 0;
}
.container-split {
  margin: 5px;
}
